@font-face {
  font-family: 'Inter';
  src: url('/public/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

body {
  margin: 0;
  padding-block: 0px;
  overflow-x: hidden;
  font-family: 'Inter';
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main {
  padding-inline: 75px;
  background-color: #222831;
}

footer {
  padding-inline: 75px;
}
